* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(212, 212, 212);
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, textarea, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

h1 {
    
    margin-left: 25%;
}

button{
    background-color: aquamarine;
    
}

form {
width: 100%;

}

.error{
    font-size: 12px;
    padding: 8px;
    background-color: red;
    color: #fff;
    margin-bottom: 8px;
    font-weight: bolder;
    display: none;
    }
    
    .input-error {
        color: red;
        border-color: red;
        outline-color: red;
    }